@import '../../import';

.k-app-panel {
	position: absolute;
	top: 120px;
	left: 120px;
	min-width: 700px;
	min-height: 360px;
	box-sizing: border-box;
	padding: 10px 20px 20px 40px;
	opacity: 0;
	transform: translateY(10px);
	background: linear-gradient(
		90deg,
		fade(@k-color-white, 60%) 0px,
		fade(@k-color-white, 60%) 30px,
		fade(@k-color-black, 90%) 30px,
		fade(@k-color-black, 80%) 100%
	);

	&__header {
		position: absolute;
		top: -10px;
		left: 80px;
		right: -50px;
		height: 62px;

		&__title {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 50px;
			background: @k-color-accent-primary;

			&:before {
				content: '';
				position: absolute;
				display: block;
				box-sizing: border-box;
				top: 0px;
				left: -40px;
				bottom: 0px;
				width: 40px;
				border: 10px solid @k-color-accent-primary;
			}

			&:after {
				content: '';
				position: absolute;
				display: block;
				left: 10px;
				right: 0px;
				bottom: 10px;
				height: 2px;
				background: fade(@k-color-white, 20%);
			}

			&__image {
				position: absolute;
				opacity: 0.3;
				top: -80px;
				right: 20px;
				bottom: 0px;
				color: @k-color-white;
				overflow: hidden;

				& > svg {
					position: relative;
					width: 200px;
					height: 200px;
				}
			}

			&__text {
				font-size: 32px;
				line-height: 42px;
				font-weight: 300;
				text-transform: uppercase;
				white-space: nowrap;
				user-select: none;
				cursor: default;
				padding: 10px;
				color: @k-color-white;
			}
		}

		&__corner {
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			width: 62px;
			color: @k-color-accent-primary;

			&__background {
				position: absolute;
				top: 0px;
				left: 0px;
				bottom: 0px;
			}

			&__close {
				color: @k-color-black;
				position: absolute;
				width: 20px;
				height: 20px;
				top: 50%;
				left: 50%;
				margin: -10px 0px 0px -10px;
				cursor: pointer;
				transform: scale(1);
				transition: color .2s linear, transform .2s linear;

				&:hover {
					transform: scale(1.2);
					color: @k-color-white;
				}

				&:active {
					transform: scale(0.8);
				}
			}
		}
	}
}
