@import (css) url('https://rsms.me/inter/inter.css');
@import (css) url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

@import './import';

html,
body {
	height: 100%;
	min-height: 100%;
}

html {
	font-family: 'Inter', sans-serif;
}

body {
	background: lighten(@k-color-black, 10%);
	overflow: hidden;
}
